<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="nav-icon">
                <img style="height: 55px;" src="../../assets/logo-white.png" alt="Ícone">
            </div>
            <div class="nav-button">
                <button onclick="window.location.href='/cadastro'">Cadastrar</button>
            </div>
        </div>
    </header>

    <main>
        <div class="login-container">
            <h1>Entrar</h1>
            <form>
                <div class="group">      
                    <input type="text" id="username" name="username" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="username">Email</label>
                  </div>
                    
                  <div class="group">      
                    <input type="password" id="password" name="password" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Senha</label>
                  </div>

                <button type="submit">Entrar</button>
                <a href="" class="forgot-password">Esqueceu sua senha?</a>
            </form>
        </div>
    </main>

    <footer>
        <div>
            <a href="#">Ajuda</a> | <a href="#">Condições de Uso</a> | Política de privacidade | Cookies
        </div>
    </footer>
</body>

</html>