    <!--Conteúdo Principal-->
    <main>
        <!-- Carrossel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://via.placeholder.com/800x400/000000/FFFFFF/?text=Slide+1" class="d-block w-100"
                        alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/800x400/000000/FFFFFF/?text=Slide+2" class="d-block w-100"
                        alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/800x400/888888/FFFFFF/?text=Slide+3" class="d-block w-100"
                        alt="Slide 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container-abas">
            <div *ngIf="categorias.length > 0; else loading">
                <div *ngFor="let categoria of categorias; let i = index" class="abas"
                    [class.active]="categoria['ativa']" (click)="onAbaClick(i)">
                    <img [src]="categoria.icon || ''" alt="ícone">
                    <label>{{ categoria.name }}</label>
                </div>
            </div>
            <ng-template #loading>
                <p>Carregando categorias...</p>
            </ng-template>
        </div>

        <section class="card-section">
            <div *ngIf="apisFiltradas.length > 0; else loadingApi" class="api-cards-container">
                <div *ngFor="let api of apisFiltradas" class="api-card">
                    <div class="header">
                        <img [src]="api.icon || 'https://via.placeholder.com/40'" alt="API Icon" class="icon">
                        <div class="content">
                            <span class="categoria-api">
                                {{ getCategoriaNome(api.categoryId) }}
                            </span>
                            <div class="title">{{ api.name }}</div>
                        </div>
                    </div>
                    <div class="descriçao">
                        {{ api.description }}
                    </div>
                    <div class="autor">
                        <img src="https://via.placeholder.com/24" alt="logo">
                        <span>By {{ api.provider || '?' }}</span>
                    </div>
                </div>
            </div>
            <ng-template #loadingApi>
                <p>Carregando APIs...</p>
            </ng-template>
        </section>

    </main>

    <footer>
        <div>
            <a href="#">Ajuda</a> | <a href="#">Condições de Uso</a> | <a href="#">Política de privacidade</a> | <a
                href="#">Sobre Nós</a>
        </div>
    </footer>
