<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <title>Login</title>
</head>

<body>
    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
              <div class="group">
                  <input type="text" formControlName="email" id="email" name="email" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label for="email">Email</label>
                </div>

                <div class="group">
                  <input type="password"  formControlName="password" id="password" name="password" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Senha</label>
                </div>

              <button type="submit">Entrar</button>
              <a href="" class="forgot-password">Esqueceu sua senha?</a>
          </form>
        </div>
    </main>

    <footer>
        <div>
            <a href="#">Help</a> | <a href="#">Terms of Use</a> | Privacy Policies | Cookies
        </div>
    </footer>
</body>

</html>
