<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./change-password.component.css">
    <title>Login</title>
</head>

<body>
    <main>
        <div class="login-container">
            <h1>Password Changer</h1>
                <div class="group">
                    <input type="text" id="newpassword"required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="username">New Password</label>
                </div>
                <div class="group">
                    <input type="text" id="password"required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="username">Repeat Password</label>
                </div>

                <button type="submit">Change Password</button>
        </div>
    </main>
</body>

</html>
