<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./forgot-password.component.css">
    <title>Login</title>
</head>

<body>
    <main>
        <div class="login-container">
            <h1>Forgot your password?</h1>
            <p>Put your email below to send a link to change your password</p>
                <div class="group">
                    <input type="text" id="username" formControlName="email" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="username">Email</label>
                </div>

                <button type="submit" (click)="changePassword()">Reset Password</button>
        </div>
    </main>
</body>

</html>
